<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Backbone Reporting History</title>
    <link rel="stylesheet" href="css/style.css">

    <!-- Libraries: -->
    <script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/backbone-min.js"></script>
    <script src="js/lib/date.min.js"></script>

    <!-- Application: -->
    <script src="js/models.js"></script>
    <script src="js/collections.js"></script>
    <script src="js/views.js"></script>
    <script src="js/router.js"></script>
  </head>
  <body>
    <h1>Your reporting history</h1>
	<form id="search_cname_form" action="" method="POST">
	    <label for="q">Search Reporting History</label>
	    <input autocomplete="off" autofocus="true" type="text" name="q" id="q" value="" placeholder="query=value"/>
	    <input type="submit" id="button" value="Go" />
	</form>

	<div id="navcontainer">
		<ul id="navlist">
			<li id="sort_asc"><a href="#" id="current">Sort by date</a></li>
			<li id="sort_desc"><a href="#">Reverse sort by date</a></li>
			<li id="reset"><a href="#">Clear filter</a></li>
		</ul>
	</div>
	<p id="query_store">Initial</p>

	<ul id="reports">
	</ul>
	<script type="text/template" id="report_template">
		<li id="r_<%= id %>">
			
				<div class="basic">
					<p><a class="contactname" href="#" title="<%= contactname %>"><%= contactname %></a> for story <a class="slug" href="#" title="<%= slug %>"><%= slug %></a></p>
					<span class="date"><%= reportdate %> </span>at <span class="address" id="sp_<%= id %>"><%=address %></span> 
				</div>
				<div class="detail">
					<p><%=noted %></p>
					<a href="<%=archive %>" title="reporting archive">Download archive</a>
					
				</div>
			
			
		</li>
	</script>
  </body>
</html>